@{
    string action = (string)ViewBag.Action;
    string formAction = Url.Action(action);
    int id = ViewBag.Id ?? 0;
    string url = Url.Action("Get", new { id = id });
}
<div title="按钮信息">
    <form id="form1" method="post" action="@formAction">
    @Html.ValidationSummary(true)
    </form>
</div>
<div class="form-bar">
    <input id="btnsubmit" type="button" class="button" name="submit" value="提交" />
</div>
@section footer{
    @Scripts.Render("~/bundles/ligerui-form")
    <script type="text/javascript">
        var id = '@ViewBag.Id';
        var action = '@action';
        var fields = [
            { display: "控制器", name: "SysController", newline: false, labelWidth: 100, width: 220, space: 30, type: "text", group: "按钮信息",
                validate: { required: true, maxlength: 50 }
            }
            , { display: "动作", name: "SysAction", newline: false, labelWidth: 100, width: 220, space: 30, type: "text",
                validate: { required: true, maxlength: 20 }
            }
            , { display: "图标", name: "Icon", newline: true, labelWidth: 100, width: 220, space: 30, type: "text",
                validate: { maxlength: 50 }
            }
            , { display: "排序", name: "Sort", newline: false, labelWidth: 100, width: 220, space: 30, type: "text",
                validate: { maxlength: 50 }
            }
            , { display: "菜单", name: "ModuleId", newline: true, labelWidth: 100, width: 220, space: 30, type: "select"
                , validate: { required: true }
                , options: {
                    tree: {
                        url: '@Url.Action("GetTree", "Menu")',
                        checkbox: false,
                        nodeWidth: 220
                    }
                }
            }
            , { display: "描述", name: "About", newline: true, labelWidth: 100, width: 420, space: 30, type: "textarea",
                validate: { maxlength: 50 }
            }
        ];
        $(function () {
            var form = $("#form1");
            form.ligerForm({ inputWidth: 280, fields: fields });
            var action = '@action';
            if (action != "Create") {
                LG.loadForm(form, { url: '@url' });
            }
            if (action == 'Update' || action == 'Create') {
                LG.setFormStatus(form, true, parent);
            } else {
                LG.setFormStatus(form, false);
            }
        });
    </script>
}
